# Directus CMS (shared BravoByte instance)
DIRECTUS_URL="https://cms.bravobyte.co"
DIRECTUS_TOKEN=""
DIRECTUS_SITE_KEY="dolcevita"

# RSVP notifications (Resend)
RESEND_API_KEY=""
RSVP_NOTIFY_EMAIL="hello@dolcevitact.com"
RSVP_NOTIFY_FROM="Dolce Vita CT <reservations@dolcevitact.com>"

# Public site
PUBLIC_SITE_URL="https://dolcevitact.com"
